--- Main CSS here ---

#feedback {
}
#lightData {
}

body{
  -webkit-text-size-adjust:none;
  font-family:Helvetica, Arial, Verdana, sans-serif;
  padding:5px;
}

 li,ul {
    list-style:none;
    margin:0 0 10px;
    padding:0;
  }
  
  label {
    width:94px;
    height:27px;
    background:url(http://papermashup.com/demos/ajax-switch/iphone_switch_container_off.png) top left no-repeat ,url(http://papermashup.com/demos/ajax-switch/iphone_switch.png) no-repeat top right;
    -webkit-transition-duration:0.4s;
    -webkit-transition-property:background-position;
    display:block;
   text-indent:-1000em;
    overflow:hidden;
  }
  
  input {
    position:absolute;
    left:-1000em;
    overflow:hidden;
  }


/*-----------------------------------*/
	IPHONE
/*-----------------------------------*/
@media screen and (max-device-width: 480px){
	


/*
div{
  clear:both!important;
  display:block!important;
  width:100%!important;
  float:none!important;
  margin:0!important;
  padding:0!important;
}
#nav,#nav li{
  float:none!important;
  clear:both!important;
  margin:0 0 10px 0!important;
  display:block;
  padding:0;
  text-align:left!important;
  width:100%;
}
#nav{
  border:1px solid #ccc;
  padding:5px;
  -webkit-border-radius:5px;
}
#nav li{
  margin:0!important;
}
#nav li a{
  display:block;
}

input {
	-webkit-box-shadow: #999 2px 2px 3px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 59, 59, 0.699219)), color-stop(0.5, rgba(233, 72, 72, 0.796875)), color-stop(0.5, rgba(184, 0, 0, 0.699219)), to(rgba(255, 0, 0, 0.796875)));
	border: 3px solid #6E6E6E;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 3px;
	border-right-width: 3px;
	border-bottom-width: 3px;
	border-left-width: 3px;
	border-top-color: #6E6E6E;
	border-right-color: #6E6E6E;
	border-bottom-color: #6E6E6E;
	border-left-color: #6E6E6E;
	border-bottom-left-radius: 12px 12px;
	border-bottom-right-radius: 12px 12px;
	border-top-left-radius: 12px 12px;
	border-top-right-radius: 12px 12px;
	color: white;
	display: inline-block;
}

*/
}