
<div id="lightData"><h1>Data</h1></div>
<div id="lightData">
<h1><%= flash[:notice] %></h1>
</div>

<script language="JavaScript">
	$(document).ready(function() {
	//setInterval(function(){ $('#lightData').load('data/index #lightData h1'); }, 10000);
	});  
</script>


