<div id="lightData">
<h1><%= flash[:notice] %></h1>
</div>

<div><%= test %></div>

<div id="sensorData">
<h1></h1>
</div>

<script language="JavaScript">
//	$(document).ready(function() {
//	setInterval(function(){ $('#lightData').load('/data/index','#lightData'); }, 10000);
//	});  
</script>


<script src="/javascripts/zepto.js"></script>

 
 <script>
 setInterval(function(){
 $.ajax({
   type: 'GET', // defaults to 'GET'
   url: '/data/index', // defaults to window.location
   data: {name: ''}, // can be a string or object (objects are automatically serialized to JSON)
   dataType: 'json', // what response type you accept from the server ('json', 'xml', 'html', or 'text')
   success: function(body) { }, // body is a string (or if dataType is 'json', a parsed JSON object)
   error: function(xhr, type) { } // type is a string ('error' for HTTP errors, 'parsererror' for invalid JSON)
 })
 }, 3000);
 </script>