<!DOCTYPE html>
<html>
<head>
  <title>Metahome</title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag "zepto.js" %>
	<script language="JavaScript">
	//	jQuery.ajaxSetup({ 'beforeSend': function(xhr) {xhr.setRequestHeader('Accept', 'text/javascript')} })
	</script>
	<meta name="viewport"
	  content="width=device-width,
	  minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>

<%= yield %>

</body>
</html>
